.owl-next span {
    font-size: 40px;
    color: rgb(0, 0, 0);
    background: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 50px;
    position: absolute;
    top: 40%;
    right: 20px;
    transition: background .5s;
}

.nav-owl button {
    background: #3a9fc0;
}

.owl-nav {
    background: transparent;
    margin-top: 0 !important;
    /* position: absolute;
    top: 0; */
}

.owl-prev span {
    font-size: 60px;
    color: rgb(0, 0, 0);
    background: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 50px;
    position: absolute;
    top: 40%;
    left: 20px;
    transition: background .5s;
}

.owl-prev span:hover {
    background: #3a9fc0;
}

.owl-next span:hover {
    background: #3a9fc0;
}

.owl-dots {
    display: none;
}

.owl-item {
    width: auto;
}

.owl-item::before {
    position: absolute;
    content: '';
    width: 50%;
    height: 100%;
    top: 0;
    right: 80%;
    background: #ef80a0;
    transform: skewX(30deg)
}

.test {
    display: block;
    list-style: none;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    line-height: 60px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: rgba(141, 187, 215, 1);
    font-family: ar-light;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.test:hover {
    color: #fff;
    background: rgba(141, 187, 215, 1);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.test::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-transition: none;
    transition: none;
}

.test:hover:after {
    width: 120%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.sub-drop-dowm {
    display: none;
    position: absolute;
    z-index: 9999;
    background: rgba(244, 244, 244, 1);
    min-width: 170px;
    margin-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.down:hover .sub-drop-dowm {
    display: block;
}

.drp-btn {
    width: 100%;
    display: block
}




.shape-before{
     position: absolute;
     
     width: 50%;
     height: 100%;
     top: 0;
     right: 80%;
     background: #ef80a0;
     transform: skewX(30deg)
}